{deps, [
        {recon_web, ".*", {git, "https://github.com/zhongwencool/recon_web.git", "master"}} %cowboy -> 1.0.4
%%        {cowboy,        ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
%%        {jiffy,         ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},
%%        {eredis_pool,   ".*", {git, "https://github.com/hiroeorz/eredis_pool.git", master}}
%%        {lager,         ".*", {git, "https://github.com/basho/lager.git", master}},
%%        {riakc,         ".*", {git, "https://github.com/basho/riak-erlang-client", master}},
%%        {leo_manager, ".*", {git, "https://github.com/leo-project/leo_manager.git", {tag, "1.2.18"}}},
%%        {leo_storage, ".*", {git, "https://github.com/leo-project/leo_storage.git", {tag, "1.2.18"}}},
%%        {leo_gateway, ".*", {git, "https://github.com/leo-project/leo_gateway.git", {tag, "1.2.18"}}},



]}.

%{lib_dirs, ["deps/config_cache"]}.

%%{erl_first_files, ["apps/config/src/config_behavior.erl"]}.

{sub_dirs, ["rel"]}.

{erl_opts, [
    %{parse_transform, lager_transform},

    %debug_info,

    warnings_as_errors,

    %fail_on_warning,
    %warn_export_all,
    %warn_unused_import,
    %warn_untyped_record,
    %warn_export_all,

    %native,

    export_all,

    %{d, is_product},

	{src_dirs, ["src/", "test/"]},

    {i, "include/"}

]}.


%%{port_specs, [
%%    {"priv/bin_test.so", [
%%        "c_src/nif/bin_test.c"
%%    ]},
%%    {"priv/leofs_magick.so", [
%%        "c_src/magick/magick_demo.cpp"
%%    ]}
%%]}.
%%
%%{port_env,
%% [
%%  {"DRV_CFLAGS",
%%   "-g -Wall -fPIC $ERL_CFLAGS -O `GraphicsMagick++-config --cppflags --cxxflags --ldflags --libs`"}
%% ]}.

