%% vim: ft=erlang
{require_min_otp_vsn, "R17"}.

{deps, [
	{erlang-iconv, ".*", {git, "https://github.com/erylee/erlang-iconv", "master"}}
]}.

{erl_opts, [
	debug_info,
    %warnings_as_errors,
    
    warn_export_all,
    %nowarn_unused_record,

    %%{d, env_develop, 1},
    %%{d, env_product, 1},

	{src_dirs, ["src/"]},
	{i, "include"}
]}.

